

<div class="ui search">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Common passwords...">
        <i class="fas fa-search"></i>
    </div>
    <div class="results"></div>
</div>

